* {
    outline: 1px solid red; /* Highlight all elements for debugging */
}


body {
    background-color: #000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    }

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    color: #333;
}

.container {
    /*max-width: 800px;*/
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.sequence {    
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 100%;
}

h1,
h2 {
    color: #ffffff;
}

.highlight {
    color: red;
}

.toc a {
    color: #cccccc;
    text-decoration: none;
    display: block;
    margin: 8px 0;
}

.toc a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.caption {
    font-size: 0.9em;
    color: #cccccc;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
}

.viewer {
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 1; /* Keep the aspect ratio square */
    margin: 0 auto;
}

video {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#author-info {
    font-size: 0.9em;
    color: #cccccc;
    margin-top: 10px;
}

#works-cited {
    margin-top: 40px;
}
